---
title: Querying features
description: Configuring a query to filter features on a <code>L.esri.Layers.FeatureLayer</code>. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.Layers.FeatureLayer</a> documentation.
layout: example.hbs
---

<style>
  #query {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: white;
    padding: 1em;
  }

  #query select {
    font-size: 16px;
  }
</style>

<div id="map"></div>
<div id="query" class="leaflet-bar">
<label>
  Bus Direction
  <select id="direction">
    <option value=''>Any</option>
    <option value='North'>North</option>
    <option value='South'>South</option>
    <option value='East'>East</option>
    <option value='West'>West</option>
  </select>
</label>
</div>

<script>
  var map = L.map('map').setView([45.526, -122.667], 15);

  var icons = {
    north: L.icon({
      iconUrl: '{{assets}}img/bus-stop-north.png',
      iconRetinaUrl: '{{assets}}img/bus-stop-north@2x.png',
      iconSize: [27, 31],
      iconAnchor: [13.5, 17.5],
      popupAnchor: [0, -11]
    }),
    south: L.icon({
      iconUrl: '{{assets}}img/bus-stop-south.png',
      iconRetinaUrl: '{{assets}}img/bus-stop-south@2x.png',
      iconSize: [27, 31],
      iconAnchor: [13.5, 13.5],
      popupAnchor: [0, -11]
    }),
    east: L.icon({
      iconUrl: '{{assets}}img/bus-stop-east.png',
      iconRetinaUrl: '{{assets}}img/bus-stop-east@2x.png',
      iconSize: [31, 27],
      iconAnchor: [13.5, 17.5],
      popupAnchor: [0, -11]
    }),
    west: L.icon({
      iconUrl: '{{assets}}img/bus-stop-west.png',
      iconRetinaUrl: '{{assets}}img/bus-stop-west@2x.png',
      iconSize: [31, 27],
      iconAnchor: [17.5, 13.5],
      popupAnchor: [0, -11]
    })
  };

  L.esri.basemapLayer('Streets').addTo(map);
  var stops = L.esri.featureLayer({
    url: 'https://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Trimet_Transit_Stops/FeatureServer/0',
    pointToLayer: function (geojson, latlng) {
      return L.marker(latlng, {
        icon: icons[geojson.properties.direction.toLowerCase()]
      });
    }
  }).addTo(map);

  var direction = document.getElementById('direction');

  direction.addEventListener('change', function(){
    // its only valid sql to encase string values in single quotes
    stops.setWhere('direction=\'' + direction.value + '\'');
  });
</script>
