<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Esri Leaflet</title>
  <meta name="description" content="Esri Leaflet">
  <meta name="viewport" content="width=device-width">

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Code+Pro:300">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{assets}}css/style.css">

  <!-- leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

  <!-- esri leaflet -->
  <script src="{{assets}}js/esri-leaflet.js"></script>
</head>
<body>
  <div class="container">
    <a class="site-nav" href="{{assets}}" class="left logo">Esri Leaflet</a>
    <nav class="right">
      <a class="site-nav" href="{{assets}}examples/">Examples</a>
      <a class="site-nav" href="{{assets}}documentation/">Documentation</a>
      <a class="site-nav" href="https://github.com/Esri/esri-leaflet">View on GitHub</a>
    </nav>
  </div>
  <div id="background-map" class="background-map"></div>
