<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="not-ie"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  {{#if page.data.title}}
    <title>{{ page.data.title }} | Esri Leaflet</title>
  {{ else }}
    <title>Esri Leaflet</title>
  {{/if}}

  {{#if page.data.description}}
    <meta name="description" content="{{page.data.description}}">
  {{/if}}

  <meta name="description" content="Esri Leaflet">
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.js"></script>
  <![endif]-->

  <!-- google fonts -->
  <link href='//fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Code+Pro:300">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{assets}}css/style.css">

  <!-- leaflet -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />

  <!-- require combined leaflet, esri leaflet and jsdelivr-rum -->
  <script src="//cdn.jsdelivr.net/leaflet/latest/leaflet.js"></script>
  <script src="//cdn.jsdelivr.net/leaflet.esri/{{package.version}}/esri-leaflet.js"></script>
  <script src="//cdn.jsdelivr.net/jsdelivr-rum/latest/jsdelivr-rum.min.js"></script>

  {{#if siteData.isDev}}
    <!-- 'livereload' for development -->
    <script src="//localhost:35729/livereload.js"></script>
  {{/if}}

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44963317-3', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
</head>
<body>
  <div class="page-content {{ this.page.class }}">
    <div class="container">
      <a class="site-nav" href="{{assets}}" class="left logo">Esri Leaflet</a>
      <nav class="right">
        <a class="site-nav" href="{{assets}}examples/">Examples</a>
        <a class="site-nav" href="{{assets}}api-reference/">API Reference</a>
        <a class="site-nav" href="{{assets}}download/">Download</a>
        <a class="site-nav" href="https://github.com/Esri/esri-leaflet">View on GitHub</a>
      </nav>
    </div>
    <div id="background-map" class="background-map"></div>
