<aside class="sidebar">
  <h5>Basemaps</h5>
  <nav>
    <a href="{{assets}}examples/showing-a-basemap.html">Showing an ArcGIS basemap</a>
    <a href="{{assets}}examples/basemap-with-labels.html">Basemap with labels</a>
    <a href="{{assets}}examples/switching-basemaps.html">Switching basemaps</a>
    <a href="{{assets}}examples/retina-basemap.html">Retina Basemap</a>
  </nav>

  <h5>Feature Layers</h5>
  <nav>
    <a href="{{assets}}examples/simple-feature-layer.html">Simple FeatureLayer</a>
    <a href="{{assets}}examples/styling-feature-layer-points.html">Styling points</a>
    <a href="{{assets}}examples/styling-feature-layer-polylines.html">Styling lines</a>
    <a href="{{assets}}examples/styling-feature-layer-polygons.html">Styling polygons</a>
    <a href="{{assets}}examples/feature-layer-popups.html">Custom popups</a>
    <a href="{{assets}}examples/querying-feature-layers-1.html">Querying features #1</a>
    <a href="{{assets}}examples/querying-feature-layers-2.html">Querying features #2</a>
    <a href="{{assets}}examples/spatial-queries.html">Spatial Queries</a>
    <a href="{{assets}}examples/simplifying-complex-features.html">Simplifying complex features</a>
    <a href="{{assets}}examples/zooming-to-all-features.html">Zoom to all features</a>
    <a href="{{assets}}examples/labeling-features.html">Labeling Features</a>
    <a href="{{assets}}examples/custering-feature-layers.html">Clustering points</a>
    <a href="{{assets}}examples/styling-clusters.html">Styling clusters</a>
    <a href="{{assets}}examples/visualize-points-as-a-heatmap.html">Points as a heatmap</a>
    <a href="{{assets}}examples/styling-heatmaps.html">Styling heatmaps</a>
    <a href="{{assets}}examples/visualizing-time-with-feature-layer.html">Time enabled services</a>
    <a href="{{assets}}examples/feature-layer-snapshot.html">Layer "snapshots"</a>
  </nav>

  <h5>Tile Layers</h5>
  <nav>
    <a href="{{assets}}examples/tile-layer-1.html">Tiles from a Map Service #1</a>
    <a href="{{assets}}examples/tile-layer-2.html">Tiles from a Map Service #2</a>
    <a href="{{assets}}examples/non-mercator-projection.html">Non-mercator tiles</a>
  </nav>

  <h5>Dynamic Map Layer</h5>
  <nav>
    <a href="{{assets}}examples/simple-dynamic-map-layer.html">Simple DynamicMapLayer</a>
    <a href="{{assets}}examples/identifying-features.html">Identifying Features</a>
    <a href="{{assets}}examples/finding-features.html">Finding Features</a>
    <a href="{{assets}}examples/customizing-popups.html">Custom popups</a>
    <a href="{{assets}}examples/visualizing-time-on-dynamic-map-layer.html">Time Ranges</a>
  </nav>

  <h5>Image Map Layer</h5>
  <nav>
    <a href="{{assets}}examples/simple-image-map-layer.html">Simple ImageMapLayer</a>
    <a href="{{assets}}examples/infrared-imagery.html">Infrared Imagery using BandIDs</a>
    <a href="{{assets}}examples/image-map-layer-rendering-rule.html">Rendering Rule</a>
    <a href="{{assets}}examples/identifying-imagery.html">Identify Imagery</a>
    <a href="{{assets}}examples/image-map-layer-mosaic-rule.html">Mosaic Rule</a>
    <a href="{{assets}}examples/imagery-popups.html">Custom popups</a>
  </nav>

  <h5>Authentication</h5>
  <nav>
    <a href="{{assets}}examples/arcgis-online-auth.html">ArcGIS Online OAuth</a>
    <a href="{{assets}}examples/premium-content.html">Premium ArcGIS Online content</a>
    <a href="{{assets}}examples/arcgis-server-auth.html">ArcGIS Server username/password</a>
  </nav>

  <h5>Geocoding</h5>
  <nav>
    <a href="{{assets}}examples/geocoding-control.html">Geocoding control</a>
    <a href="{{assets}}examples/center-map-on-address.html">Center the initial map state</a>
    <a href="{{assets}}examples/reverse-geocoding.html">Reverse geocoding</a>
  </nav>

  <h5>Misc.</h5>
  <nav>
    <a href="{{assets}}examples/getting-service-metadata.html">Getting service metadata</a>
    <a href="{{assets}}examples/parse-feature-collection.html">Parsing Feature Collections</a>
  </nav>

</aside>
