<aside class="sidebar">
  <h5>Layers</h5>
  <nav>
    <a href="{{assets}}api-reference/layers/basemap-layer.html">Basemap Layer</a>
    <a href="{{assets}}api-reference/layers/feature-layer.html">Feature Layer</a>
    <a href="{{assets}}api-reference/layers/tiled-map-layer.html">Tiled Map Layer</a>
    <a href="{{assets}}api-reference/layers/dynamic-map-layer.html">Dynamic Map Layer</a>
    <a href="{{assets}}api-reference/layers/image-map-layer.html">Image Map Layer</a>
    <!--<a class="plugin" href="{{assets}}api-reference/layers/clustered-feature-layer.html">Clustered Feature Layer</a>-->
    <a class="plugin" href="{{assets}}api-reference/layers/heatmap-feature-layer.html">Heatmap Feature Layer</a>
  </nav>

  <h5>Controls</h5>
  <nav>
    <a class="plugin" href="{{assets}}api-reference/controls/geosearch.html" class="plugin">Geosearch</a>
  </nav>

  <h5>Tasks</h5>
  <nav>
    <a href="{{assets}}api-reference/tasks/query.html">Query</a>
    <a href="{{assets}}api-reference/tasks/find.html">Find</a>
    <a href="{{assets}}api-reference/tasks/identify-features.html">Identify Features</a>
    <a href="{{assets}}api-reference/tasks/identify-image.html">Identify Image</a>
    <a class="plugin" href="{{assets}}api-reference/tasks/geocode.html">Geocode</a>
    <a class="plugin" href="{{assets}}api-reference/tasks/reverse-geocode.html">Reverse Geocode</a>
    <a class="plugin" href="{{assets}}api-reference/tasks/suggest.html">Suggest</a>
    <a class="plugin" href="{{assets}}api-reference/tasks/gp-task.html">Geoprocessing Task</a>
    <a class="plugin" href="{{assets}}api-reference/tasks/query-related.html">Query Related</a>
  </nav>

  <h5>Base Classes</h5>
  <nav>
    <a href="{{assets}}api-reference/services/image-service.html">ImageService</a>
    <a href="{{assets}}api-reference/services/feature-layer-service.html">FeatureLayerService</a>
    <a href="{{assets}}api-reference/services/map-service.html">MapService</a>
    <a class="plugin" href="{{assets}}api-reference/services/geocode-service.html">Geocode Service</a>
    <a class="plugin" href="{{assets}}api-reference/services/gp-service.html">Geoprocessing Service</a>
    <a href="{{assets}}api-reference/tasks/task.html">Task</a>
    <a href="{{assets}}api-reference/services/service.html">Service</a>
    <a href="{{assets}}api-reference/layers/raster-layer.html">Raster Layer</a>
  </nav>

  <h5>Misc.</h5>
  <nav>
    <a href="{{assets}}api-reference/request.html">Request</a>
    <a href="{{assets}}api-reference/util.html">Util</a>
    <a href="{{assets}}api-reference/events.html">Events</a>
  </nav>
</aside>
