<aside class="sidebar">
  <h5>L.esri.Layers</h5>
  <nav>
    <a href="{{assets}}api-reference/layers/basemap-layer.html">BasemapLayer</a>
    <a href="{{assets}}api-reference/layers/feature-layer.html">FeatureLayer</a>
    <a href="{{assets}}api-reference/layers/tiled-map-layer.html">TiledMapLayer</a>
    <a href="{{assets}}api-reference/layers/dynamic-map-layer.html">DynamicMapLayer</a>
    <a href="{{assets}}api-reference/layers/image-map-layer.html">ImageMapLayer</a>
    <a href="{{assets}}api-reference/layers/clustered-feature-layer.html">ClusteredFeatureLayer</a>
    <a href="{{assets}}api-reference/layers/heatmap-feature-layer.html">HeatmapFeatureLayer</a>
  </nav>

  <h5>L.esri.Tasks</h5>
  <nav>
    <a href="{{assets}}api-reference/tasks/query.html">Query</a>
    <a href="{{assets}}api-reference/tasks/find.html">Find</a>
    <a href="{{assets}}api-reference/tasks/identify-features.html">Identify Features</a>
    <a href="{{assets}}api-reference/tasks/identify-image.html">Identify Image</a>
    <a href="{{assets}}api-reference/tasks/task.html">Task</a>
  </nav>

  <h5>Misc.</h5>
  <nav>
    <a href="{{assets}}api-reference/request.html">Request</a>
    <a href="{{assets}}api-reference/util.html">Util</a>
    <a href="{{assets}}api-reference/events.html">Events</a>
  </nav>

  <h5>Base Classes</h5>
  <nav>
    <a href="{{assets}}api-reference/services/image-service.html">ImageService</a>
    <a href="{{assets}}api-reference/services/feature-layer.html">FeatureLayerService</a>
    <a href="{{assets}}api-reference/services/map-service.html">MapService</a>
    <a href="{{assets}}api-reference/services/service.html">Service</a>
  </nav>
</aside>
