<aside class="sidebar">
  <h4>L.esri</h4>
  <nav>
    <a href="{{assets}}documentation/request.html">Request</a>
    <a href="{{assets}}documentation/utils.html">Utils</a>
  </nav>
  <h4>L.esri.Layers</h4>
  <nav>
    <a href="{{assets}}documentation/layers/base-map-layer.html">BasemapLayer</a>
    <a href="{{assets}}documentation/layers/tiled-map-layer.html">TiledMapLayer</a>
    <a href="{{assets}}documentation/layers/dynamic-map-layer.html">DynamicMapLayer</a>
    <a href="{{assets}}documentation/layers/feature-layer.html">FeatureLayer</a>
    <a href="{{assets}}documentation/layers/clustered-feature-layer.html">ClusteredFeatureLayer</a>
    <a href="{{assets}}documentation/layers/heatmap-feature-layer.html">HeatmapFeatureLayer</a>

  </nav>
  <h4>L.esri.Services</h4>
  <nav>
    <a href="{{assets}}documentation/services/feature-layer.html">FeatureLayer</a>
    <a href="{{assets}}documentation/services/map-service.html">MapService</a>
    <a href="{{assets}}documentation/services/service.html">Service</a>
  </nav>
  <h4>L.esri.Tasks</h4>
  <nav>
    <a href="{{assets}}documentation/tasks/identify.html">Identify</a>
    <a href="{{assets}}documentation/tasks/query.html">Query</a>
  </nav>
  <h4>Misc.</h4>
  <nav>
    <a href="{{assets}}documentation/events.html">Events</a>
  </nav>
</aside>